// Fonts
$main_font: "Roboto", sans-serif; 
$secondary_font: 'Open Sans', sans-serif;

// Media Queries Sizes
$phone: 480px;
$tablet: 768px;
$desktop: 1024px;
$desktopxl: 1200px;

// Colores
$mainColor: #3b4862;
$black: #000;
$white: #ffffff;
$gray: #eeefed;
$lightGray: #f8f8f8;
